
@import url(/styles/media.css);

@import url(/styles/fonts.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'poppins';
}

.container {
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
.header_link {
  position: absolute;
  top: 19px;
  right: 35px;
  font-size: 16px;
  text-decoration: none;
  color: white;
  background-color: rgb(111, 111, 229);
  width: 120px;
  height: 25px;
  padding: 5px 5px;
  text-align: center;
  border-radius: 10px;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4rem;
  margin-top: 1rem;
  position: relative;
}

.nav_menu_items {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
}
.nav_menu_items li a {
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}
.header_bottom {
  display: flex;
}
.header_bottom_left {
  flex-basis: 50%;
}
.header_bottom_right {
  flex-basis: 50%;
}
